<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blast Radius Calculator App</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- Restart -->
      <!-- <li class="active">
        <form name="restartPage" id="restartPage" action="http://localhost:5000/restart" method="POST">
          <button id="restart-button" class="btn btn-success">Restart<span class="fa fa-arrow-right"></span></button>
        </form>        
      </li> -->
    </ul>
  </div>
</nav>